RewriteEngine on

# Redirect "/serie.html?s=" to "/serie"   
RewriteRule ^serie/(.*)$  /serie.html?s=$1 [L]

# Externally redirect "/file.html" to "/file"   
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^/%1 [NC,L,R]

# Internally map "/file" back to "/file.html"
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*?)/?$ /$1.html [NC,L]